<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/login.css' />
    <link rel="icon" href="/images/favicon.png" type="image/x-icon">

    <script>
      // Skripta za prikazivanje alerta ako postoji greška
      const errorMessage = '<%= typeof error !== "undefined" ? error : "" %>'; // Dohvaća poruku o grešci iz servera

      if (errorMessage) {
        alert(errorMessage);
      }
    </script>
  </head>
  <body>
    <div class="login-container">
      <div class="admin">
        <form class="admin-login-form" method="post" action="/admin-login">
          <h3>Prijavite se kao administrator sistema</h3>
          <label for="administratorUsername">Username:</label>
          <input type="text" id="administratorUsername" name="username_admin" required>
          <br>
          <label for="administratorLozinka">Lozinka:</label>
          <input type="password" id="administratorLozinka" name="lozinka_admin" required>
          <br>
          <button type="submit">Prijava</button>
        </form>
        <div id="errorMessage"></div>
      </div>
    </div>
  </body>
</html>
