<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/register.css' />
    <link rel="icon" href="/images/favicon.png" type="image/x-icon">

    <script>
      // Skripta za prikazivanje alerta ako postoji greška
      const errorMessage = '<%= typeof error !== "undefined" ? error : "" %>'; // Dohvaća poruku o grešci iz servera

      if (errorMessage) {
        alert(errorMessage);
      }
    </script>
  </head>
  <body>
    <div class="register-container">
      <div class="menadzer">
        <form class="menadzer-register-form" action="/register/registerRadnik" method="post">
          <h3>Registrujte se kao radnik na projektu</h3>
          <label for="ime">Ime:</label>
          <input type="text" id="ime" name="ime_radnik" required>

          <label for="prezime">Prezime:</label>
          <input type="text" id="prezime" name="prezime_radnik" required>

          <label for="username">Username:</label>
          <input type="text" id="username" name="username_radnik" required>

          <label for="lozinka">Lozinka:</label>
          <input type="password" id="lozinka" name="lozinka_radnik" required>

          <label for="email">Email:</label>
          <input type="email" id="email" name="email_radnik" required>

          <label for="datumRodjenja">Datum rođenja:</label>
          <input type="date" id="datumRodjenja" name="datumrodjenja_radnik" required>

          <label for="nazivKompanije">Naziv kompanije:</label>
          <input type="text" id="nazivKompanije" name="nazivkompanije_radnik" required>

          <button type="submit">Registracija</button>
        </form>
        <div id="errorMessage"></div>
      </div>
    </div>
  </body>
</html>
